<router-outlet></router-outlet>
<app-navbar></app-navbar>
<section class="row">
    <div class="col-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
        <div class="scroll-auto-hope"></div>
        <router-outlet></router-outlet>
    </div>
    <div>
        
            <footer class="">
                <div class="d-flex justify-content-center align-items-center">
                    <label class="vibra con los mejores eventos"></label>
                </div>
            </footer>
        
    </div>
</section>
