<section class="d-flex justify-content-center align-items-center h-100 flex-column">


    <div class="myCard">
        <div class="innerCard">
            <div class="frontSide">
                <p class="color"> tócame</p>
                <img src="assets/img/gringo.jpeg" alt="gringoTusday" style="width: 100%;">
                <p class="color">Gringo gringoTusday</p>
            </div>
            <div class="backSide">
                <p class="color">Membresia VIP por toda la noche</p>
                <button class="btn" type="button">
                    <strong>Eventos Deportivos</strong>
                    <div id="container-stars">
                      <div id="stars"></div>
                    </div>
                  </button>
            </div>
        </div>
    </div>

    <button class="btn-menu-lateral-derecho boton my-2" routerLink="/">Todos los eventos</button>

    <div class="myCard">
        <div class="innerCard">
            <div class="frontSide">
                <p class="color">FRONT SIDE</p>
                <img src="  assets/img/meting.jpeg" alt="gringoTusday" style="width: 100%;">
                <p class="color">Hover Me</p>
            </div>
            <div class="backSide">
                <p class="color">No pagas cover</p>
                <p>Leave Me</p>
            </div>
        </div>
    </div>

</section>

